/* About Section Styles */
.about-section {
    text-align: center;
    padding-top: 15px;
    margin: 40px 0;
}

.about p {
    font-size: 2rem;
    width: 60%;
    margin: 0 auto;
}

/* Mobile Responsiveness */
@media screen and (max-width: 767px) {
    .about p {
        font-size: 1.2rem;
        width: 90%;
    }
}
